.histogram {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 450px;
    height: 300px;
    border: 1px solid #000;

}

.bar {
    width: 50px;
}
