input[type="radio"] {
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: spin linear 3s infinite;
}

.histogram {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 450px;
  height: 300px;
  border: 1px solid #000;

}

.bar {
  width: 40px;
}