input[type="radio"] {
  opacity: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon{
  height: 50px;
  width: 50px;
}

.rotating {
  animation: spin linear 3s infinite;
}

.histogram {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 450px;
  height: 300px;
  border: 1px solid #000;

}

.bar {
  width: 50px;
}